.green{
	color:#b5bd00
}

.blue{
	color:#00587c
}

.lightblue{
	color: #00c1d5
}

.lightgray{
	color: #939598
}

.darkgray{
	color:#3c4145
}

.white{
	color: #fff;
}

.montserrat{
	font-family: 'Montserrat';
}
.museo{
	font-family: museo-sans, sans-serif;
}

.museo-300{
	font-family: museo-sans, sans-serif;
	font-weight: 300
}

.museo-700{
	font-family: museo-sans, sans-serif;
	font-weight: 700
}

.bold{
	font-weight: bold
}

html{
	font-size:100%;
}

body {
	font-family: 'Montserrat';
	color:#434343;
	font-weight: 300;
	font-size: 1rem;
}

nav{
	background-color: #00587c;
	border-radius: 0px;
}

footer{
	 background-color: #00587c;
	 color: white;
	 padding: 30px;
}

ul{
	list-style: none
}

ul li{
	font-size: 0.8rem;
	opacity: 0.7;
}

h1{
	font-family: 'Helvetica neue';
	font-weight: bold
}

h2{
	font-size: 1.375rem;
	font-weight: 500;
	letter-spacing: 0.9px;
}
h3{
	font-size: 1.125rem;
	font-weight: 500;
	letter-spacing: 0.7px;
}

p{
	font-size: 1rem;
	font-weight: 300;
	text-align: justify;
}

.site{
	overflow-x: hidden;
}

/*TODO

.hero{
	height:80vh;
	background: url(assets/img/hero.png) center center no-repeat;
	background-size: cover;
	background-position: 0 -30vh;
}
*/

.home{
	height:80vh;
	background: url(assets/img/hero.png) center center no-repeat;
	background-size: cover;
	background-position: 0 -30vh;
}

.home h1{
	font-size: 4rem;
	letter-spacing: 0.5rem
}

.home span{
	font-size: 5rem;
	letter-spacing: 1.4rem;
	text-align: center;
}

.programa {
	background: url(assets/img/hero_programa.png) center center no-repeat;
	background-size: cover;
/*	background-position: 0% 0%;*/
	height:80vh;
}

.involucrate{
	background: url(assets/img/hero_involucrate.png) no-repeat;
	background-size: cover;
	background-position: 0 -40vh;
	height:70vh;
}

.navbar{
	border-radius: 0px;
}

.navbar-nav>li>a {
	text-shadow: none;
	color: white;
	font-size: 0.875rem;
	letter-spacing: 0.12rem;
}

.nav>li>a:hover{
	background: none
}

.center-middle{
	display:flex;
	align-items:center;
}

.center{
	text-align: center; 
}

.center-center{
	display:flex;
	justify-content:center;
	align-items:center;
}

.inactive{
	opacity: 0.5;
}

.footer{
	text-align: center
}


/*@media (min-width: 768px)
.navbar {
    border-radius: 4px;
}*/



.thumbnail p, .circle-legend p{
	font-size: 0.8125rem;
	text-align: center;
}

.btn{
	font-size: 1rem;
	padding: 1rem 2rem;
	border-radius: 0.125rem;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 1px;
	color:#00587c
}

.btn:hover{
	color:inherit;
}

.btn-link{
	font-weight: 500;
}

.btn-link:hover{
	text-decoration: none
}
.btn-green span{
	color:#b5bd00;
	padding: 0px;
}

.btn-concytec-default{
	background-color: #00c1d5;
	color:#fff;
	box-shadow: 0 2px 4px 0 rgba(208, 208, 208, 0.5);
}

.btn-concytec-default:hover{
	background-color: #fff;
	color:#00c1d5;
	border: solid 1px #00c1d5;
}

.btn-concytec-default:active{
	background-color: #00587c;
	color:#fff;
	border: solid 1px #00587c;
}

.btn-concytec-default[disabled]{
	background-color: #939598;
	color:#fff;
	border: solid 1px #939598;
}

.btn-concytec-blue{
	background-color: #00587c;
	color:#fff;
	border: solid 1px #00587c;
	box-shadow: 0 2px 4px 0 rgba(208, 208, 208, 0.5);
}

.btn-concytec-blue:hover{
	background-color: #00587c;
	color:#fff;
}

.thumbnail{
	border-radius: 0.125em;
	box-shadow: 0 4px 4px 0 #c4c4c4;
}

.thumbnail-sm{
	padding-top:3rem;
	padding-bottom:3rem;
	text-align: center;
}
.thumbnail h2{
	color: #939598;
}
.Page-1 {
  width: 62px;
  height: 56px;
  object-fit: contain;
}
.thumbnail-lg{
	padding-top:1rem;
	padding-bottom:1rem;
	overflow: hidden;
	
}

.thumbnail-lg .btn{
	padding: 0;
}

#thumb-lg-img{
	background: url("assets/img/bitmap.jpg");
	height: 100%;
	min-height: 10rem;
	background-size: cover;
}

.thumbnail-sm p {
	font-size: 0.8125rem;
	color:#434343;
}
.welcome-hexagon, .programa-hexagon{
	width:auto;
	height:70vh;
}

.trapecio-top{
	height: 100px;
	background-color: transparent;
	border-top: 100px solid transparent;
	border-left: 100vw solid #00c1d5;
}

.trapecio-bottom{
	height: 100px;
	background-color: transparent;
	border-bottom: 100px solid transparent;
	border-left: 100vw solid #00c1d5;
}

.testimonios{
	 background-color: #00c1d5;
}

.quote-box{
	padding: 0 70px;
}
.quote {
	color:white;
	font-family: 'Montserrat';
	font-size: 1rem;
	text-align:left;
	line-height: 1.56rem;
  	letter-spacing: 0.6px;
}

.thumb-box{
	padding: 0 30px;
}

.upper{
	text-transform: uppercase;
}

.mt-20{
	margin-top: 20px;
}

.mt-28{
	margin-top: 20px;
}

.mt-35{
	margin-top: 35px;
}

.mt-42{
	margin-top: 42px;
}

.mt-49{
	margin-top: 49px;
}

.mt-63{
	margin-top: 63px;
}

.mt-98{
	margin-top: 98px;
}

.mobile{
	display:none;
}

@media (max-width: 767px) {
	.desktop{
		display:none;
	}

	.mobile{
		display:block;
	}
	.welcome-hexagon, .programa-hexagon{
		width:auto;
		height:30vh;
	}

	.home{
		height: 50vh;
		background-position: 50% 80%;
	}

	.involucrate{
		height: 50vh;
		background-position: 50% 80%;
	}

	.home h1{
		font-size: 2rem;
		letter-spacing: 0.7rem;
		margin-top: 4rem;
	}

	.home span{
		font-size: 3rem;
		letter-spacing: 1rem;
	}
}