.green{
	color:#b5bd00
}

.blue{
	color:#00587c
}

.lightblue{
	color: #00c1d5
}

.lightgray{
	color: #939598
}

.darkgray{
	color:#3c4145
}

.white{
	color: #fff;
}

.montserrat{
	font-family: 'Montserrat';
}
.museo{
	font-family: museo-sans, sans-serif;
}

.museo-300{
	font-family: museo-sans, sans-serif;
	font-weight: 300
}

.museo-700{
	font-family: museo-sans, sans-serif;
	font-weight: 700
}

.bold{
	font-weight: bold
}

html{
	font-size:100%;
}

body {
	font-family: 'Montserrat';
	color:#434343;
	font-weight: 300;
	font-size: 1rem;
	scroll-behavior: smooth;
}

nav{
	background-color: #00587c;
	border-radius: 0px;
}

footer{
	background-color: #00587c;
	color: white;
	padding: 30px;
}

/*ul{
	list-style: none
	}*/
	footer ul{
		list-style: none
	}
	footer ul li {
		font-size: 0.8rem;
		opacity: 0.7;
	}

    footer a:focus, footer a:hover, footer a{
        color:white;
    }

	h1{
		font-family: 'Helvetica neue';
		font-weight: bold
	}

	h2{
		font-size: 1.375rem;
		font-weight: 500;
		letter-spacing: 0.9px;
	}
	h3{
		font-size: 1.125rem;
		font-weight: 500;
		letter-spacing: 0.7px;
	}

	p{
		font-size: 1rem;
		font-weight: 300;
	}

	.justify{
		text-align: justify;
	}

	.left{
		text-align: left
	}
	.site{
		overflow-x: hidden;
	}

	.inactive{
		opacity: 0.7;
	}

	.body{
		padding-top: 80px
	}	


	.home{
		height:85vh;
		background: url(assets/img/Hero_Programa_ValBio.png) center center no-repeat;
		background-size: cover;
		background-position: 0 -35vh;
        opacity: 0.9;
	}

	.home h1{
		font-size: 4rem;
		letter-spacing: 0.6rem;
        text-align: right;
        padding-right: 20px;
	}

	.home span{
		text-align: center;
        text-transform: uppercase;
        font-size: 2rem;
        text-shadow: 0px 0px #000;
        letter-spacing: 0.4rem
	}

	.programa {
		background: url(assets/img/Hero_Home1.png) center center no-repeat;
		background-size: cover;
		height:90vh;
        background-position: 0 -35vh;
	}

    .homeiniciativas {
        background: url(assets/img/nuevo_Hero.png) center center no-repeat;
        background-size: cover;
        background-position: 0 -35vh;
        height:85vh;
    }

	.involucrate{
		background: url(assets/img/nuevo_Hero_2.png) no-repeat;
		background-size: cover;
		background-position: 0 -35vh;
		height:85vh;
	}

	.navbar{
		border-radius: 0px;
		min-height: 15vh;
	}

	.navbar-home{
		background:rgba(60,65,69,.68);
	}

	.navbar-nav>li>a {
		text-shadow: none;
		color: white;
		font-size: 0.875rem;
		letter-spacing: 0.12rem;
	}

	.nav>li>a:hover{
		background: none;
		color:#b5bd00;
	}

	.navbar-toggle .icon-bar{
		height: 3px;
		background-color: white
	}

	.logo-img{
		height: 70px;
	}

	.center-middle{
		display:flex;
		align-items:center;
	}

	.center{
		text-align: center; 
	}

	.center-center{
		display:flex;
		justify-content:center;
		align-items:center;
	}

	.inactive{
		opacity: 0.5;
	}

	.footer{
		text-align: center
	}


/*@media (min-width: 768px)
.navbar {
    border-radius: 4px;
    }*/



    .thumbnail p, .circle-legend p{
    	font-size: 0.8125rem;
    	text-align: center;
    }

    .thumbnail-eventos p, .thumbnail-noticias p {
    	text-align: left
    }

    .btn{
    	font-size: 1rem;
    	padding: 1rem 2rem;
    	border-radius: 0.125rem;
    	font-weight: 300;
    	text-transform: uppercase;
    	letter-spacing: 1px;
    	color:#00587c
    }

    .btn:hover{
    	color:inherit;
    }

    .btn-link{
    	font-weight: 500;
    }

    .btn-link-footer{
    	color: white;
    	cursor: pointer;
    }

    .btn-link:hover, .btn-link-footer:hover{
    	text-decoration: none
    }

    .btn-link-footer:hover{
    	color: #939598
    }

    .btn-green span{
    	color:#b5bd00;
    	padding: 0px;
    }

    .btn-concytec-default{
    	background-color: #00c1d5;
    	color:#fff;
    	box-shadow: 0 2px 4px 0 rgba(208, 208, 208, 0.5);
    }

    .btn-concytec-default:hover{
    	background-color: #fff;
    	color:#00c1d5;
    	border: solid 1px #00c1d5;
    }

    .btn-concytec-default:active{
    	background-color: #00587c;
    	color:#fff;
    	border: solid 1px #00587c;
    }

    .btn-concytec-default[disabled]{
    	background-color: #939598;
    	color:#fff;
    	border: solid 1px #939598;
    }

    .btn-concytec-filter, .filter .inactive-filter:hover{
    	border: solid 1px #00c1d5;
    	color:#00587c;
    	box-shadow: 0 2px 4px 0 rgba(208, 208, 208, 0.5);
    	padding: 0.5rem 1rem;
    	font-size: 0.8125rem;
    	margin-left: 10px;
    	background-color: #00c1d5;

    }

    .btn-green:active{
    	-webkit-box-shadow: none;
    	box-shadow: none

    }

    .filter .inactive-filter{
    	background:none;
    	border: solid 1px #939598;
    	color:#939598;
    	box-shadow: 0 2px 4px 0 rgba(208, 208, 208, 0.5);
    	padding: 0.5rem 1rem;
    	font-size: 0.8125rem;
    	margin-left: 10px
    }

    .btn-concytec-blue{
    	background-color: #00587c;
    	color:#fff;
    	border: solid 1px #00587c;
    	box-shadow: 0 2px 4px 0 rgba(208, 208, 208, 0.5);
    }

    .btn-concytec-blue:hover{
    	background-color: #00587c;
    	color:#fff;
    }

    .thumbnail{
    	border-radius: 0.125em;
    	box-shadow: 0 4px 4px 0 #c4c4c4;
    }

    .thumbnail-sm{
    	padding-top:3rem;
    	padding-bottom:3rem;
    	text-align: center;
    }

/*    .thumbnail-aliados{
    	padding-top:3rem;
    	padding-bottom:3rem;
    	text-align: center;
    	}*/

 /*   .thumbnail-aliados:hover{
		background-color: #00587c;
    	text-align: center;
    	}*/

    	.thumbnail h2{
    		color: #939598;
    	}
    	.Page-1 {
    		width: 62px;
    		height: 56px;
    		object-fit: contain;
    	}
    	.thumbnail-lg{
    		padding-top:1rem;
    		padding-bottom:1rem;
    		overflow: hidden;
    	}

    	.thumbnail-lg p{
    		text-align: left;
    	}

    	.thumbnail-lg .btn, .thumbnail-eventos .btn{
    		padding: 0;
    	}

    	.thumbnail-eventos .btn{
    		padding: 1rem 0;
    	}

    	.thumb-img{
    		height:100%;
    		width: 100%
    	}

    	.thumbnail-eventos, .thumbnail-noticias{
    		border:none;
    		box-shadow: none
    	}

    	.thumbnail-noticias{
    		padding:2.5rem;
    	}

    	.thumbnail-noticias:hover{
    		background-color: #b5bd00;
    		opacity:0.7;
    		color: #00587c
    	}

    	.thumbnail-noticias:hover h2{
    		color: white
    	}


    	.thumbnail-eventos h3 {
    		margin-top: 0px
    	}

    	.thumbnail-evento-interna{
    		padding: 1rem;
    	}

    	.thumbnail-evento-interna p{
    		text-align: left;
    	}

    	.thumbnail-evento-interna .caption .btn{
    		width: 100%;
    	}

    	.event-line{
    		border-bottom: 1px solid #939598;
    		width: 100%;
    	}
    	.event-sm-map{
    		border:0;
    		width: 100%;
    	}

    	.thumbnail-sm p {
    		font-size: 0.8125rem;
    		color:#434343;
    	}
    	.welcome-hexagon, .programa-hexagon{
    		width:auto;
    		height:70vh;
    	}

    	.trapecio-top{
    		height: 100px;
    		background-color: transparent;
    		border-top: 100px solid transparent;
    		border-left: 100vw solid #00c1d5;
    	}

    	.trapecio-bottom, .trapecio-bottom-programa{
    		height: 100px;
    		background-color: transparent;
    		border-bottom: 100px solid transparent;
    		border-left: 100vw solid #00c1d5;
    	}

    	.testimonios{
    		background-color: #00c1d5;
    	}

    	.quote-box{
    		padding: 0 70px;
    	}
    	.quote {
    		color:white;
    		font-family: 'Montserrat';
    		font-size: 1rem;
    		text-align:left;
    		line-height: 1.56rem;
    		letter-spacing: 0.6px;
    	}

    	.thumb-box{
    		padding: 0 30px;
    	}

    	.upper{
    		text-transform: uppercase;
    	}

    	.mt--35{
    		margin-top: -35px;
    	}
        .mt--56{
            margin-top: -56px;
        }

    	.mt-20{
    		margin-top: 20px;
    	}

    	.mt-28{
    		margin-top: 28px;
    	}

    	.mt-35{
    		margin-top: 35px;
    	}

    	.mt-42{
    		margin-top: 42px;
    	}

    	.mt-49{
    		margin-top: 49px;
    	}
        .mt-56{
            margin-top: 56px;
        }

    	.mt-63{
    		margin-top: 63px;
    	}
        .mt-70{
            margin-top: 70px;
        }
        
        .mt-77{
            margin-top: 77px;
        }

    	.mt-98{
    		margin-top: 98px;
    	}

        .mt-105{
            margin-top: 105px;
        }

    	.pl-welcome{
    		padding-left: 70px
    	}

    	.mobile{
    		display:none;
    	}

    	.content{
    		position:absolute;
    	}

    	.top{
    		top:0px
    	}
    	.bottom{
    		top: 286px;
    		background-color:#00587c;
    		height:100%;
    		width:100%;
    		color:white;
    	}

    	.thumbnail-aliados{
    		position:relative;
    		transition: top 0.3s;
    		overflow: hidden;
    		height: 250px;
    		width: 250px;
    		padding: 0;
    	}

    	.thumbnail-aliados h2{
    		color:white;
    	}

    	.thumbnail-aliados:hover{

    	}
    	.thumbnail-aliados:hover .top{
    		top:-286px;
    	}

    	.thumbnail-aliados:hover .bottom{
    		top:0px;
    		padding: 0 10px;
    	}

    	.filtered{
    		display: none
    	}

    	.visible{
    		display: block;
    	}

    	label{
    		font-weight: 300;
    	}

        .subtitle{
            font-size: 1.25rem;
            text-shadow: 1px 1px #b2b2b2;
        }

    	@media (max-width: 768px) {
    		.desktop{
    			display:none;
    		}

    		.mobile{
    			display:block;
    		}
    		.welcome-hexagon, .programa-hexagon{
    			width:auto;
    			height:30vh;
    		}

    		.home, .involucrate, .homeiniciativas{
    			height: 50vh;
    			background-position: 50% 50%;
    		}

    		.home h1{
    			font-size: 0.8rem;
    			letter-spacing: 0.3rem;
    		}

    		.home span, .involucrate h1, .homeiniciativas h1{
    			font-size: 1.6rem;
    			letter-spacing: 0.3rem;
    		}

            .home h2, .involucrate h2, .homeiniciativas h2, .programa h2 {
                font-size: 0.7rem;
            }

    		.footer-mobile{
    			display: inline
    		}
    		.pl-welcome{
    			padding-left: 35px;
    		}
    		.logo-img{
    			height: 50px;
    		}
    		.navbar{
    			min-height: 12vh;
    		}
    		.trapecio-bottom-programa{
    			border-bottom: 0px solid transparent;
    		}

    		.trapecio-bottom{
    			height: 50px;
    			border-bottom: 40px solid transparent;
    		}
    		.trapecio-top{
    			height: 50px;
    			border-top: 40px solid transparent;
    		}

    		.thumbnail-eventos h3 {
    			margin-top: 20px
    		}
    		.moved-nav{
    			transform: translate3d(-70vw, 0, 0);
    			transition: 0.2s
    		}
    		.menu-hidden{
    			visibility: hidden;
    			z-index:-1;
    		}
    		.menu-mobile{
    			right:0;
    			position:fixed;
    			width: 70vw;
    			height: 100vh;
    			background:rgba(0,88,124,1);
    			padding: 20px
    		}
    		.menu-mobile a{
    			text-decoration: none;
    			font-size:1rem; 
    			display:block;
    		}
    		.menu-mobile a:hover{
    			color: #b5bd00;
    		}
    		.body{
    			padding-top: 0px
    		}
    		.right-box{
    			margin-top: 150px;
    		}
    	}

/*    	@media (min-height:768px){
    		.navbar{
    			min-height: 10vh
    		}
    	}*/

        @media (max-width: 800px){
            .navbar-nav>li>a{
                font-size: 0.60rem
            }
            .involucrate, .programa{
                height: 70vh;
                background-position: 50% 60%;
            }
            .subtitle{
            font-size: 1rem
            }
            .main-title{
                margin-top: -20px
            }
           p{
                font-size: .75rem
            }
        }

        @media (min-width: 800px){
            .mt-bs-70{
                margin-top: 70px
            }
        }







